@model IEnumerable<BookMyShowEntity.Booking>;


@{
    ViewData["Title"] = "Index";
}

<div>
    <a asp-controller="Booking" asp-action="BookingEntry">Click here for booking Entry</a>
    <hr />
    <center>
        <input type="search" value="Search for Bookings" style="width:500px" />
        <input type="button" value="Search" style="color:green" />
    </center>
    <hr />
</div>

<div class="row">
    <div class="col-12">
        <center><h3 style="color:red; font-family:Algerian;">Booking Entries</h3></center>
        <hr />
        <table class="table table-light table-bordered table-hover" style="background-color:aqua">
            <thead>
                <tr>
                    <th>Booking Id</th>
                    <th>Quantity</th>
                    <th>User ID</th>
                    <th>Show ID</th>
                    
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model)
                {
                    <tr>
                        <td>@booking.BookingId</td>
                        <td>@booking.Quantity</td>
                        <td>@booking.UserId</td>
                        <td>@booking.ShowId</td>
                        
                        <td><a asp-controller="Booking" asp-action="EditBooking" asp-route-BookingId="@booking.BookingId">Edit</a></td>
                        <td><a asp-controller="Booking" asp-action="DeleteBooking" asp-route-BookingId="@booking.BookingId">Delete</a></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</div>